body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(200% 100% at bottom center, #0f0f0f, #0c0c0c, #111111, #0e0e0e);
    background: radial-gradient(220% 105% at top center, #030e1b 10%, #090813 40%, #01050f 65%, #0c0c0c);
    background-attachment: fixed;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#ckLine {
    width: 100vw;
    height: 100vh;
}

@keyframes rotate-xing {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate-xing 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -361deg);
        transform: rotate3d(0, 0, 1, -361deg);
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rotate {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -361deg);
        transform: rotate3d(0, 0, 1, -361deg);
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }
}

.rotate {
    -webkit-animation-name: rotate;
    animation-name: rotate;
}

.earth {
    position: absolute;
    top: -10vh;
    left: -6vh;
    height: 120vh;
    pointer-events: none;
    animation: rotate 360s infinite linear;
}

.earth-shade {
    position: absolute;
    top: 60vh;
    left: 0;
    height: 50vh;
    width: 100vw;
    background: -webkit-linear-gradient(bottom, rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgba(7, 19, 33, 0.8), rgba(7, 19, 33, 0.4), rgba(7, 19, 33, 0));
    background: -o-linear-gradient(top, rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgba(7, 19, 33, 0.8), rgba(7, 19, 33, 0.4), rgba(7, 19, 33, 0));
    background: -moz-linear-gradient(top, rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgba(7, 19, 33, 0.8), rgba(7, 19, 33, 0.4), rgba(7, 19, 33, 0));
    background: linear-gradient(to top, rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgb(7, 19, 33), rgba(7, 19, 33, 0.8), rgba(7, 19, 33, 0.4), rgba(7, 19, 33, 0));
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;
}

.satic-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 160px;
    pointer-events: none;
}

@keyframes posterDrop1 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 4000% 0;
    }
}

@keyframes posterDrop2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30000% 0;
    }
}

.dynamic-area1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/poster-drop-animate2.png) repeat-x 0px 0px;
    background-size: auto 100%;
    animation: posterDrop1 6000s linear infinite;
}

.dynamic-area2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background: url(../img/poster-drop-animate1.png) repeat-x 0px 0px;
    background-size: auto 100%;
    animation: posterDrop2 8000s linear infinite;
}

.dynamic-car {
    position: relative;
    bottom: 120px;
    left: 500px;
    width: 460px;
    pointer-events: none;
}

.wuzi {
    position: relative;
    bottom: 250px;
    left: 230px;
    width: 120px;
    pointer-events: none;
}

.loginWrap {
    position: absolute;
    top: calc((100vh - 360px) / 2 - 10vh);
    right: 240px;
    background: rgba(255, 255, 255, .1);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.loginTitle {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.loginTitle::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc((100% - 120px) / 2);
    width: 120px;
    height: 3px;
    background: #c8e4ff;
    border-radius: 10px;
}

#loginName {
    position: relative;
}

.loginName {
    position: relative;
    border-radius: 4px;
    border: none;
    background: #ffffff;
    color: #01050f;
    outline: none;
    font-size: 14px;
    padding: 8px 10px 8px 30px;
    margin-top: 14px;
    width: 76%;
}

#loginName::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/username.png') no-repeat;
    background-size: 100% auto;
    top: 22px;
    left: 23px;
    z-index: 10;
}

#loginPwd {
    position: relative;
}

.loginPwd {
    position: relative;
    border-radius: 4px;
    border: none;
    background: #ffffff;
    color: #01050f;
    outline: none;
    font-size: 14px;
    padding: 8px 10px 8px 30px;
    margin-top: 10px;
    width: 76%;
}

#loginPwd::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/password.png') no-repeat;
    background-size: 100% auto;
    top: 18px;
    left: 23px;
    z-index: 10;
}

#rememberLoginInfo {
    white-space: nowrap;
    font-size: 14px;
    margin: 20px 0;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.rememberItem {
    display: inline-block;
}

.forgetPwd {
    cursor: pointer;
    color: #c8e4ff;
}

.loginBtn {
    background: #c8e4ff;
    color: #1b4d88;
    width: 90%;
    border-radius: 4px;
    border: none;
    padding: 8px 0;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
}

.toRegister {
    font-size: 14px;
    text-align: right;
    padding: 0 16px;
    color: #c8e4ff;
    margin-top: 20px;
    cursor: pointer;
}