body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: rgb(48, 156, 228) url(../imgs/bo_b.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.musicPlayWrap {
    position: absolute;
    top: 2vw;
    right: 3vw;
    z-index: 99999;
    width: 10vw;
    height: 10vw;
    background-image: url(../imgs/music.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

.gameTraiWrapLimit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.gameTraiWrap {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 200vw;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    transform: translateX(0);
    z-index: 888;
    display: none;
}

.gameStartPage {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background: rgb(48, 156, 228) url(../imgs/bg_1.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    transition: all 0.6s ease;
    transform: translateY(0);
    z-index: 999;
}

.gameEndPage {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(48, 156, 228) url(../imgs/bg_1.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    transition: all 0.6s ease;
    transform: translateY(-100vh);
    z-index: 999;
    display: none;
}

.gameStartTitle {
    position: absolute;
    width: 60vw;
    top: 80px;
    left: 20vw;
}

.gameStartTitleImg {
    position: relative;
    display: block;
    width: 60vw;
    z-index: 10;
}

.gameStartTitle::before {
    content: '';
    position: absolute;
    width: 96vw;
    height: 160px;
    top: -54px;
    left: -18vw;
    background: url(../imgs/bg_title.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 9;
}

.gameStartMinLuoboImg {
    position: absolute;
    height: 40px;
    top: 194px;
    left: calc((20vw - 20px) / 2 + 30px);
}

.startInput {
    position: absolute;
    top: 200px;
    left: calc((20vw - 20px) / 2);
    width: 80vw;
    padding: 20px 10px;
    border: none;
    background: url(../imgs/bg_text.png) no-repeat;
    background-size: 100% 80%;
    background-position: center 11px;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #a3543d 2px 0 0, #a3543d 0 2px 0, #a3543d -1px 0 0, #a3543d 0 -1px 0;
    -webkit-text-shadow: #a3543d 2px 0 0, #a3543d 0 2px 0, #a3543d -1px 0 0, #a3543d 0 -1px 0;
    -moz-text-shadow: #a3543d 2px 0 0, #a3543d 0 2px 0, #a3543d -1px 0 0, #a3543d 0 -1px 0;
    *filter: Glow(color=#a3543d, strength=2);
}

.startInput::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(255, 255, 255);
}

.startInput:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(255, 255, 255);
}

.startInput::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(255, 255, 255);
}

.startInput:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(255, 255, 255);
}

.phoneInput {
    top: 256px;
}

.gameStartGuize {
    position: absolute;
    bottom: 16vh;
    left: 10vw;
}

.gameStartGuize::before {
    content: '';
    position: absolute;
    width: 24vw;
    height: 16vh;
    top: -4.7vh;
    left: -5vw;
    background: url(../imgs/potato.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 9;
}

.gameStartGuize>img {
    position: relative;
    display: block;
    width: 14vw;
    z-index: 10;
}

.gameStart {
    position: absolute;
    bottom: -20px;
    left: calc((100vw - 26vw) / 2);
    width: 26vw;
    height: 240px;
    text-align: center;
    background: url(../imgs/luobo.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.gameStart>img {
    position: relative;
    display: inline-block;
    height: 40%;
    top: 60px;
    z-index: 10;
}

.gameStartJiang {
    position: absolute;
    bottom: 16vh;
    right: 10vw;
}

.gameStartJiang::before {
    content: '';
    position: absolute;
    width: 24vw;
    height: 16vh;
    top: -4.7vh;
    left: -5vw;
    background: url(../imgs/potato.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 9;
    transform: rotateY(180deg);
}

.gameStartJiang>img {
    position: relative;
    display: block;
    width: 14vw;
    z-index: 10;
}

.gameEndTitle {
    position: absolute;
    width: 60vw;
    top: 30vh;
    left: 20vw;
}

.gameEndTitleImg {
    position: relative;
    display: block;
    width: 55vw;
    z-index: 10;
}

.gameEndTitle::before {
    content: '';
    position: absolute;
    width: 96vw;
    height: 26vh;
    top: -9vh;
    left: -18vw;
    background: url(../imgs/bg_title.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 9;
}

.gameEndToCJ {
    position: absolute;
    width: 90vw;
    height: 6.4vh;
    line-height: 5.4vh;
    top: 56vh;
    left: 5vw;
    display: block;
    text-align: center;
    background: url(../imgs/bg_text.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -webkit-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -moz-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    *filter: Glow(color=#090404, strength=1);
}

.routePaneTitle {
    position: absolute;
    top: 20px;
    left: 10px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 20px;
}

.routePaneTitle::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 12px;
    width: 50px;
    height: 2px;
    background: beige;
}

.routePaneTitle::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 12px;
    width: 50px;
    height: 2px;
    background: beige;
}

.jiangPaneTitle {
    position: absolute;
    top: 20px;
    left: 10px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 20px;
}

.jiangPaneTitle::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 12px;
    width: 50px;
    height: 2px;
    background: beige;
}

.jiangPaneTitle::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 12px;
    width: 50px;
    height: 2px;
    background: beige;
}

/* 游戏中的页面 */

.questionPageWrap div.questionTitleWrap {
    position: absolute;
    top: 8vh;
    width: calc(96vw - 32vw);
    height: calc(30vh - 24vh);
    left: calc((100vw - 96vw) / 2);
    text-align: center;
    background: url(../imgs/bg_title.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 12vh 16vw;
}

.questionPageWrap div.questionTitleWrap span {
    position: relative;
    display: block;
    text-align: left;
}

.questionPageWrap div.questionTitleWrap span:first-of-type {
    color: #090404;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5.4vw;
}

.questionPageWrap div.questionTitleWrap span:first-of-type::after {
    content: '';
    position: absolute;
    width: 3.8vw;
    height: 2.6vh;
    top: 0;
    left: 0.5vw;
    background: url(../imgs/tree.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.questionPageWrap div.questionTitleWrap span:last-of-type {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 6px;
    text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -webkit-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -moz-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    *filter: Glow(color=#090404, strength=1);
}

.answerItem {
    position: absolute;
    width: 90vw;
    height: 6.4vh;
    line-height: 5.4vh;
    left: 5vw;
    display: block;
    text-align: center;
    background: url(../imgs/bg_text.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -webkit-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -moz-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    *filter: Glow(color=#090404, strength=1);
}

.answerItem:nth-of-type(1) {
    top: 46vh;
}

.answerItem:nth-of-type(2) {
    top: 53vh;
}

.answerItem:nth-of-type(3) {
    top: 60vh;
}

.answerItemSelected {
    background: url(../imgs/bg_text_selected.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #623123;
}

.answerInput {
    position: absolute;
    width: calc(90vw - 40px);
    height: calc(24vh - 20px);
    top: 46vh;
    left: 5vw;
    display: block;
    text-align: left;
    padding: 10px 20px;
    background: url(../imgs/bg_t2.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    border: none;
    text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -webkit-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    -moz-text-shadow: #090404 1px 0 0, #090404 0 1px 0, #090404 -1px 0 0, #090404 0 -1px 0;
    *filter: Glow(color=#090404, strength=1);
}

.answerInput::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(255, 255, 255);
}

.answerInput:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(255, 255, 255);
}

.answerInput::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(255, 255, 255);
}

.answerInput:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(255, 255, 255);
}

.preQuestion {
    position: absolute;
    width: 20vw;
    height: 16vh;
    line-height: 14vh;
    left: 14vw;
    bottom: 6vh;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    display: block;
    text-align: center;
    background: url(../imgs/potato.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.nextQuestion {
    position: absolute;
    width: 20vw;
    height: 16vh;
    line-height: 14vh;
    right: 14vw;
    bottom: 6vh;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    display: block;
    text-align: center;
    background: url(../imgs/potato.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.onlyOne {
    left: 0;
    right: 0;
    margin: 0 auto;
}